body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

section {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.csym019 {
    background-color: lightblue;
}

.csym015 {
    background-color: yellow;
}

.csym025 {
    background-color: red;
}