body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    float: left;
}

section {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.csym019 {
    background-color: lightblue;
}

.csym015 {
    background-color: yellow;
}

.csym025 {
    background-color: red;
}