body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header nav nav"
                        "main main main aside"
                        "footer footer footer footer";
}

header {
    grid-area: header;
    background-color: blue;
    padding: 10px;
}

nav {
    background-color: yellow;
    grid-area: nav;
}

main {
    color: white;
    background-color: darkblue;
    padding: 10px;
    grid-area: main;
}

aside {
    background-color: lightgreen;
    padding: 10px;
    grid-area: aside;
}

footer {
    background-color: darkgreen;
    padding-left: 10px;
    grid-area: footer;
}